<footer>
  <div class="first">
    <h3>Event & Bootcamp</h3>
    <div>
      <div>
        <ul>
          <li><a href="#">Web Development</a></li>
          <li><a href="#">Mobile Development</a></li>
          <li><a href="#">UI Design</a></li>
          <li><a href="#">UI Research</a></li>
          <li><a href="#">Presentation</a></li>
        </ul>
      </div>
      <div>
        <ul>
          <li><a href="#">Comunication</a></li>
          <li><a href="#">Video Production</a></li>
          <li><a href="#">Digital Marketing</a></li>
          <li><a href="#">Branding</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div >
    <h3>About Owlearn</h3>
    <ul>
      <li><a href="#">Adminission Info</a></li>
      <li><a href="#">Article</a></li>
      <li><a href="#">Group & Referral Program</a></li>
      <li><a href="#">Careers</a></li>
    </ul>
  </div>
  <div >
    <h3>Contact</h3>
    <ul class="contact">
      <li><a href="#">support@edtech.com</a></li>
      <li><a href="#">(+62) 85923935983</a></li>
      <li>
        <a href="#"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </a>
      </li>
      <ul class="icons">
        <li><i class="fa-brands fa-instagram"></i></li>
        <li><i class="fa-brands fa-twitter"></i></li>
        <li><i class="fa-brands fa-youtube"></i></li>
        <li><i class="fa-brands fa-linkedin-in"></i></li>
      </ul>
    </ul>
  </div>
</footer>
