<h2>Our graduates have worked in</h2>
<div class="logos">
    <img src="../../assets/images/companies/Clicup.svg" alt="">
    <img src="../../assets/images/companies/dropbox.svg" alt="">
    <img src="../../assets/images/companies/Elastic.svg" alt="">
    <img src="../../assets/images/companies/FreshBooks.svg" alt="">
    <img src="../../assets/images/companies/GitHub.svg" alt="">
    <img src="../../assets/images/companies/Google Workspace.svg" alt="">
    <img src="../../assets/images/companies/helpscout.svg" alt="">
    <img src="../../assets/images/companies/HubSpot.svg" alt="">
    <img src="../../assets/images/companies/intuit.svg" alt="">
    <img src="../../assets/images/companies/Paychex.svg" alt="">
    <img src="../../assets/images/companies/Salesforce.svg" alt="">
    <img src="../../assets/images/companies/SAP.svg" alt="">
    <img src="../../assets/images/companies/Segment.svg" alt="">
    <img src="../../assets/images/companies/ServiceNow.svg" alt="">
    <img src="../../assets/images/companies/shopify.svg" alt="">
</div>