<div class="member">
    <div>
        <img src="../../assets/images/online-course-of-study-2021-09-24-03-56-00-utc 1.jpg" alt="">
        <div class="data">
            <h3>Educational technology</h3>
            <span><i class="fa-solid fa-location-dot"></i> Jakarta, Indonesia</span>
        </div>
    </div>
    <div>
        <h2>Owlearn helps you Become Experienced</h2>
        <p>Owlearn provides e-learning solutions for companies, universities and individual professionals. It allows users to create courses, and provides an integrated learning management system. Its offerings include digital course tools, study materials, IT infrastructure and other operations.</p>
        <button>Become a Member</button>
    </div>
</div>